---
import AppLayout from "@layouts/AppLayout.astro";
import GameCard from "@components/games/GameCard.astro";
import Toast from "@components/games/Toast.astro";
import { getGameTypes } from "@lib/server/data/games";
import type { GameType } from "@lib/shared/games/types";

let games: GameType[] = [];

try {
  games = await getGameTypes();
} catch {
  games = [];
}
---

<AppLayout>
  <main class="mx-auto w-full max-w-2xl flex-1 p-4 @sm:p-6">
    <header class="mb-6 space-y-1">
      <p class="text-text-muted text-sm">Select a game to get started.</p>
      <div class="flex flex-col gap-4 mt-4">
        {games.map((game) => <GameCard game={game} />)}
      </div>
    </header>
  </main>
  <Toast />
</AppLayout>
