---
import AppLayout from "@layouts/AppLayout.astro";
import ProfileStatsSection from "@components/stats/ProfileStatsSection.astro";
---

<AppLayout>
  <main class="mx-auto w-full max-w-2xl space-y-6 p-4 @sm:p-6">
    <ProfileStatsSection />
  </main>
</AppLayout>
