---
import BaseLayout from "@layouts/BaseLayout.astro";
import LoginForm from "@components/forms/LoginForm.astro";
---

<BaseLayout title="Login">
  <main class="min-h-screen flex items-center justify-center bg-surface-page p-4">
    <LoginForm />
  </main>
</BaseLayout>
