---
import AppLayout from "@layouts/AppLayout.astro";
---

<AppLayout>
  <main class="mx-auto w-full max-w-2xl flex-1 p-4 @sm:p-6">
    <header class="mb-6 space-y-1">
      <p class="text-text-muted text-sm">View your game statistics.</p>
    </header>
  </main>
</AppLayout>
