---
// Components
import UserMenu from "@components/auth/UserMenu.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle }: Props = Astro.props;
---

<header
  role="banner"
  class="bg-surface-page/80 sticky top-0 z-20 flex justify-between items-center p-4 backdrop-blur-sm"
>
  <h1 class="text-text-primary text-2xl font-semibold capitalize">
    {pageTitle}
  </h1>
  <UserMenu />
</header>
