---
// Components
import NavBtn from "@components/layout/NavBtn.astro";

// Icons
import homeIcon from "@icons/home.svg?raw";
import statsIcon from "@icons/stats.svg?raw";
import dartsIcon from "@icons/darts.svg?raw";
---

<nav class="bg-background/80 flex shrink-0 grid grid-cols-3 items-center justify-between border-t border-border p-4 backdrop-blur-sm">
  <NavBtn href="/">
    <span set:html={homeIcon} />
  </NavBtn>
  <NavBtn href="/games" matchPrefix="/games">
    <span set:html={dartsIcon} />
  </NavBtn>
  <NavBtn href="/statistics">
    <span set:html={statsIcon} />
  </NavBtn>
</nav>
