---
interface Props {
  label: string;
  loading?: string;
  [key: string]: unknown;
}

const { label, loading, ...props }: Props = Astro.props;
---

<button
  type="submit"
  {...props}
  class="btn-primary btn-press relative w-full"
>
  <span x-show={`!${loading}`} x-cloak>{label}</span>
  <span x-show={`${loading}`} x-cloak class="spinner" aria-hidden="true"></span>
</button>
