---
import IconBtn from "@components/ui/IconBtn.astro";
import logoutIcon from "@icons/logout.svg?raw";
import { sanitizeRedirect } from "@lib/shared/utils/redirect";

interface Props {
  redirect?: string;
}

const { redirect = "/login" } = Astro.props;
const safeRedirect = sanitizeRedirect(redirect);
---

<div
  class="@container inline-flex flex-col items-stretch"
  x-data="logoutBtn()"
  data-redirect={safeRedirect}
>
  <IconBtn
    ariaLabel="Logout"
    @click="logout"
    :disabled="loading"
    :aria-busy="loading"
  >
    <span x-show="!loading" x-cloak set:html={logoutIcon} />
    <span
      x-show="loading"
      x-cloak
      class="inline-block h-5 w-5 animate-spin rounded-full border-2 border-sky-400 border-t-transparent"
      aria-hidden="true"
    />
  </IconBtn>

  <p
    x-show="error"
    x-text="error"
    x-cloak
    class="text-error mt-1 text-xs"
    role="alert"
    aria-live="polite"
  ></p>
</div>
