---
import IconBtn from "@components/ui/IconBtn.astro";
import LogoutBtn from "@components/auth/LogoutBtn.astro";
import profileIcon from "@icons/profile.svg?raw";
import accountSettingsIcon from "@icons/account-settings.svg?raw";
---

<div
  class="@container relative inline-flex flex-col items-end"
  x-data="userMenu()"
  @keydown.escape.window="close()"
  @click.outside="close()"
>
  <IconBtn
    ariaLabel="User menu"
    type="button"
    @click="toggle()"
    :aria-expanded="open"
    aria-haspopup="menu"
  >
    <span set:html={profileIcon} />
  </IconBtn>

  <div
    x-show="open"
    x-cloak
    x-transition:enter="transition-fade-scale-enter"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition-fade-scale-leave"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    role="menu"
    class="menu-panel shadow-menu absolute top-full right-0 z-10 mt-2 min-w-48 rounded-lg border border-border bg-popover py-1"
  >
    <a
      href="/settings"
      role="menuitem"
      class="menu-item-hover text-foreground flex items-center gap-2 px-3 py-2 text-sm"
    >
      <span
        class="inline-block [&_svg]:block [&_svg]:size-5"
        set:html={accountSettingsIcon}
        aria-hidden="true"
      />
      Account settings
    </a>

    <div role="none" class="border-border border-t px-1 py-1">
      <LogoutBtn />
    </div>
  </div>
</div>
