---
interface Props {
  label: string;
  value: string;
}

const { label, value } = Astro.props;
---

<div class="flex justify-between font-mono text-sm">
  <dt class="text-text-muted">{label}</dt>
  <dd class="font-bold" x-text={value}>0</dd>
</div>
