---
interface Props {
  name?: string;
  nameExpr?: string;
  isBot?: boolean;
  isBotExpr?: string;
  isGuest?: boolean;
}

const {
  name = "You",
  nameExpr,
  isBot = false,
  isBotExpr,
} = Astro.props;
import ProfileIcon from "@icons/profile.svg";
import BotIcon from "@icons/bot.svg";
---

<div class="flex items-center flex-col gap-2">
  <div class="relative flex p-2 items-center justify-center rounded-full border border-border bg-surface-elevated text-text-muted">
    {
      isBotExpr ? (
        <>
          <BotIcon class="size-8" aria-hidden="true" x-show={isBotExpr} x-cloak />
          <ProfileIcon
            class="size-8"
            aria-hidden="true"
            x-show={`!(${isBotExpr})`}
            x-cloak
          />
        </>
      ) : isBot ? (
        <BotIcon class="size-8" aria-hidden="true" />
      ) : (
        <ProfileIcon class="size-8" aria-hidden="true" />
      )
    }
    <span
      class="text-center text-xs top-12 bg-surface-elevated border-border border left-1/2 -translate-x-1/2 -translate-y-1/2 font-medium text-slate-200 absolute px-1.5 py-0.5 rounded-full"
      {...(nameExpr ? { "x-text": nameExpr } : {})}
    >
      {nameExpr ? "" : name}
    </span>
  </div>
</div>
