---
import DartCountPicker from "./DartCountPicker.astro";
import DoubleGrid from "./DoubleGrid.astro";
import SecondaryBtn from "@components/ui/SecondaryBtn.astro";
import PrimaryBtn from "@components/ui/PrimaryBtn.astro";
---

<div class="relative flex flex-1 w-full justify-between  h-full flex-col gap-4 overflow-hidden min-h-0">
  <template x-if="step === 'outcome'">
    <div class="flex flex-1 w-full flex-col justify-center gap-2">
      <span class="section-label">Target hit?</span>
      <div class="grid flex-1 w-full grid-cols-2 gap-2">
        <button type="button" class="card-interactive btn-press" @click="targetHit = false; wizardNext()">No</button>
        <button type="button" class="card-interactive btn-press" @click="targetHit = true; wizardNext()">Yes</button>
      </div>
    </div>
  </template>

  <article
    class="flex flex-1 w-full flex-col gap-4"
    x-show="showDartSteps"
    x-cloak
    x-transition:enter="transition-slide-enter"
    x-transition:enter-start="opacity-0 translate-x-8"
    x-transition:enter-end="opacity-100 translate-x-0"
    x-transition:leave="transition-slide-leave"
    x-transition:leave-start="opacity-100 translate-x-0"
    x-transition:leave-end="opacity-0 -translate-x-full"
  >
    <DartCountPicker
      label="Darts used"
      options={[1, 2, 3]}
      model="dartsUsed"
      onSelect="selectDartsUsed"
    />
    <div x-show="!isSuccess">
      <DartCountPicker
        label="Darts on double"
        options={[0, 1, 2, 3]}
        model="onDouble"
        onSelect="selectOnDouble"
      />
    </div>
    <div x-show="isSuccess">
      <DartCountPicker
        label="Darts on double"
        options={[1, 2, 3]}
        model="onDouble"
        onSelect="selectOnDouble"
      />
    </div>
  </article>

  <article
    class="flex flex-1 w-full flex-col"
    x-show="showDoubleGrid"
    x-cloak
    x-transition:enter="transition-slide-enter"
    x-transition:enter-start="opacity-0 translate-x-full"
    x-transition:enter-end="opacity-100 translate-x-0"
    x-transition:leave="transition-slide-leave"
    x-transition:leave-start="opacity-100 translate-x-0"
    x-transition:leave-end="opacity-0 translate-x-full"
  >
    <template x-if="isSuccess">
      <div>
        <DoubleGrid label="Finished on double" model="finishedOnDouble" onSelect="selectFinishedOnDouble" />
      </div>
    </template>
    <template x-if="!isSuccess">
      <div>
        <DoubleGrid label="Double attempted" model="doubleAttempted" onSelect="selectDoubleAttempted" />
      </div>
    </template>
  </article>

  <template x-if="step === 'busted'">
    <div class="flex flex-1 w-full flex-col justify-center gap-2">
      <span class="section-label">Busted?</span>
      <div class="grid w-full grid-cols-2 gap-2">
        <button type="button" class="card-interactive btn-press" @click="busted = false; wizardNext()">No</button>
        <button type="button" class="card-interactive btn-press" @click="busted = true; wizardNext()">Yes</button>
      </div>
    </div>
  </template>
  <div class="flex justify-between">
    <template x-if="step === 'submit'">
      <PrimaryBtn
        label="Submit"
        :disabled="loading"
        loading="loading"
        @click="submit()"
      >
      </PrimaryBtn>
    </template>

    <SecondaryBtn
      x-show="step !== 'outcome'"
      @click="wizardBack()"
      label="Back"
      class="max-w-1/2 "
    >
      Back
    </SecondaryBtn>
  </div>
</div>
