---
import BaseLayout from "@layouts/BaseLayout.astro";
import AppHeader from "@components/layout/AppHeader.astro";
---

<BaseLayout>
  <AppHeader />
  <div class="flex flex-1 flex-col">
    <slot />
  </div>
</BaseLayout>
