---
import "@styles/global.css";
import ConfirmationModal from "@components/ui/ConfirmationModal.astro";

const url = Astro.url;

const title =
  url.pathname === "/"
    ? "Dart Counter"
    : `${url.pathname.slice(1)} - Dart Counter`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex h-dvh flex-col overflow-hidden" x-data>
    <slot />
    <ConfirmationModal />
  </body>
</html>
