---
import Skeleton from "@components/ui/Skeleton.astro";
---

<article class="game-panel py-2 px-4 h-fit">
  <div class="flex items-center justify-between gap-3">
    <Skeleton variant="bar" class="h-4 w-2/5" />
    <Skeleton variant="block" class="h-7 w-16 rounded-full" />
  </div>
</article>
